<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWSPersons" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55031/WSPersons.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWSPersons" contract="WSPersons.IWSPersons"
                name="BasicHttpBinding_IWSPersons" />
        </client>
    </system.serviceModel>
</configuration>